* {
  box-sizing: border-box;
  --primaryColor: #45b3ff;
  --secondaryColor: #FFB445;
  --darkColor:  #627380;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

p {
  font-family: 'Times New Roman', Times, serif;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
}

.navLink {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: var(--darkColor);
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainParagraph {
  width: 50%;
}

hr {
  width: 100%;
}

#navLogo {
  height: 5vh;
}

#navLogo img {
  height: 100%;
}

nav a[aria-current='page'] {
  color: white;
  background-color: var(--primaryColor);
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

#paletteShowcase {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50vh;
}

.paletteElement {
  height: 100%;
  aspect-ratio: 1 / 1;
  border: black 2px solid;
}

#palettePrimary {
  background-color: var(--primaryColor);
}

#paletteLight {
  background-color: white;
}

#paletteDark {
  background-color: var(--darkColor);
}

#swotSection {
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
}

.swotCard {
  width: 90%;
  height: 90%;
  border-radius: 25px;
  padding: 5px;
}

.swotCard h2 {
  text-align: center;
}

#swotStrengths {
  background-color: var(--primaryColor);
}

#swotWeaknesses {
  background-color: #78CFC6;
}

#swotOpportunities {
  background-color: #FADC6A;
}

#swotThreats {
  background-color: #FDB3A2;
}

#persona1 {
  
}

#persona2 {

}

.personaOverview {
  width: 50%;
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 5px;
  padding: 5px;
}

.personaOverview div {
  background-color: var(--secondaryColor);
  border-radius: 25px;
}

.personaDiv h4 {
  width: 100%;
}

.personaDiv p {
  width: 100%;
}

.personaImage {
  grid-column: 1 / 1;
  grid-row: 1 / span 2;
  text-align: center;
}

.personaImage p {
  width: 100%;
  height: auto;
}

.personaImg {
  object-fit: contain;
  max-width: 90%;
  padding: 5%;
}

.personaDemographics {
  grid-column: 2 / span 3;
  padding: 5px;
}

.personaGoals {
  grid-column: 2 / span 3;
  padding: 5px;
}

.personaStruggles {
 grid-column: 1 / span 4;
 padding: 5px;
}